<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>

<body> 
    <h3>Add Task👇</h3>
    <form action="/api/task/title" method="POST">
    <input type="text" name="title"></input>
    <input type="submit"></input>
  </form>
  <h2>Daily Tasks List🎗️</h2>

  {% set i={'v':0}%}
  {% for item in result %}
    {% if i.update({'v':i.v+1})%}{% endif%}
    <p>{{ i.v }}. {{ item.title }} </p>
  {% endfor %}
 

</body>
</html>